.header {
  height: 35px;
  width: auto;
  background-color: #3670a0;
  color: white;
  font-size: 27px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

h3 {
  margin-top: 5px;
}

.contentBubble {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 1.5rem auto;
    border: 1px darkslategray solid;
    padding: 1rem;
    border-radius: 3px;
}
    .contentBubble .bubbleTitle {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 2rem;
    }
        .contentBubble .bubbleTitle p {
            margin-left: 2rem;
        }
    
    .contentBubble .bubbleInformation {
        display: flex;
        justify-content: space-between;
    }
    .contentBubble .exchangeRate {
        color: black;
    }
    .contentBubble p {
        color: black;
    }

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#wallet-section {
    background-color: #4085be;
}

#submit-button {
    background-color: #15b110dc;
}

#amount-input {
    margin-bottom: 10px;
    margin-top: 10px;
}

hr {
    margin-top: -3px;
}
.stockChart {
    width: 80%;
    margin: 0 auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #15b110dc;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #15b110dc;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  h2 {
    position: relative;
    margin-left: 70px;
    margin-top: -30px;
  }

  .moreInfoSpan{
    font-weight: 900;
  }