body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#wallet-section {
    background-color: #4085be;
}

#submit-button {
    background-color: #15b110dc;
}

#amount-input {
    margin-bottom: 10px;
    margin-top: 10px;
}
